body {
	font-family:'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 30px;
	border: 5px;
	padding: 50px;
	background: #FFFFFF;
	color: #000000;
}

a {
	font-weight: 400;
	color: #29C6FF;
}

small {
	color: #000000;
}

strong {
	color: #000000;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: left;
	color: #000000;
	font-style: normal;
	margin-top: 0;
}

h2 {
	color: #FF5149;
}

h3 {
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 42px;
}

h4 {
	font-weight: 400;
	margin-bottom: 0;
}

/*h6 {
	font-weight: 300;
}*/

p {
	font-family:'Lato', sans-serif;
	margin-top: 0;
	margin-bottom: 27px;
}

ul {
	list-style: square;
}

ul p {
	color: #000000;
}

hr {
	border: none;
	border-top: 1px solid #999999;
	margin: 10px 0;
}

/*img {
	/*float: right;*/
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #999999;
	padding: 5px;
} */

nav {
	font-weight: 300;
	color: #999999;
	text-align: left;
}
